@import './common.css';
@import './components.css';
@import './utilities.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-inter: 'Inter', system-ui, -apple-system, sans-serif;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --text-muted: #666666;
  --text-muted-dark: #a1a1aa;
  --text-body: #333333;
  --text-body-dark: #e4e4e7;

  /* Theme Colors */
  --color-orange-primary: #fc210d;
  --color-orange-vibrant: #f94001;
  --color-yellow-primary: #f7ce38;
  --color-blue-primary: #3b82f6;
  --color-purple-primary: #a855f7;

  /* RGB Values for Opacity Support */
  --rgb-orange-primary: 252, 33, 13;
  --rgb-yellow-primary: 247, 206, 56;
  --rgb-mouse-light: 241, 229, 212;

  --link-color: var(--color-orange-primary);
  --link-color-dark: var(--color-yellow-primary);

  /* Gradient Colors */
  --gradient-orange-yellow-start: var(--color-orange-primary);
  --gradient-orange-yellow-end: var(--color-yellow-primary);
  --gradient-blue-purple-start: var(--color-blue-primary);
  --gradient-blue-purple-end: var(--color-purple-primary);

  /* Transparent Text for Animations */
  --transparent-text: rgba(75, 85, 99, 0); /* gray-600 transparent */
}

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  overflow-y: scroll;
}

html.dark {
  --transparent-text: rgba(209, 213, 219, 0); /* gray-300 transparent */
  color-scheme: dark;
}

/* For browsers that don't support smooth scrolling */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }

  html {
    scroll-behavior: auto;
  }
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
  font-family: var(--font-inter);
  scroll-behavior: smooth;

  @apply font-sans antialiased;
  @apply bg-[#060606];
  @apply text-[var(--text-body-dark)];
}

::selection {
  background-color: var(--color-orange-vibrant);
  color: #f3f3f3;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

section[id] {
  scroll-margin-top: 80px;
  min-height: auto;
  padding: 60px 0;
  position: relative;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
